/* QuizGraphStyles.uss */

/* Node Styles */
.question-node {
    background-color: #000033;
    border-radius: 5px;
}

.start-node {
    background-color: #e6ffe6;
    border-radius: 5px;
}

/* Port Styles */
.unity-port {
    background-color: #add8e6;
}

/* TextField Styles */
.unity-text-field {
    margin-bottom: 5px;
}
